html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto Condensed", tahoma, verdana, arial, sans-serif;
  font-size: 14px;
  color: #484848;
  background: white;
}

article {
  width: 700px;
  margin: 80px auto 0;
}

article h1 {
  margin: 0 auto;
  width: 700px;
  font-size: 50px;
  line-height: 50px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #969696;
  position: relative;
}

article h1:after {
  content: "";
  display: block;
  border-bottom: 1px solid #969696;
  position: absolute;
  height: 1px;
  bottom: -3px;
  left: 0px;
  right: 0px;
}

article p {
  font-size: 22px;
  line-height: 30px;
  padding-bottom: 20px;
}

article a { color: inherit; text-decoration: none; }
article a:hover,
article a:focus { text-decoration: underline; }

