@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "font-awesome/variables";
@import "font-awesome/path";
@import "application/variables";
@import "application/mixins";

body {
  font-family: "Roboto Condensed", tahoma, verdana, arial, sans-serif;;
  font-size: 14px;
  color: $text;
  background: $background;
}

a {
  @include transition(all 0.3s);

  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted $line;

  &:focus,
  &:hover { border-style: solid; }
  &:active { color: $dark; border-color: $dark }
}

nav {
  height: 68px;
  padding-top: 10px;
  background: asset-url('nav_background_line.png') repeat-x;
  font-size: 24px;
  text-align: center;

  a { @include no-link-underline; @include inline-block; @include transition(all 0.3s); padding: 22px 15px; text-decoration: none; color: $text; }
  a.active { background-color: $line-light; }
  a.focus,
  a:hover { color: $dark; }

  div { background: asset-url('nav_background.png') repeat; z-index: 2; min-width: 680px; }
  &.sticky div { position: fixed; top: 0px; left: 0px; right: 0px;}

  @media all and (min-width: 700px) {
    div span { position: relative; }
    div span:before { content: ""; position: absolute; top: 50%; width: 83px; height: 8px; left: -83 - 55px; background: asset-url('nav_arrow_left.png'); }
    div span:after { content: ""; position: absolute; top: 50%; width: 83px; height: 8px; right: - 83 - 55px; background: asset-url('nav_arrow_right.png'); }
  }
}

header {
  height: 300px;
  background-size: cover;
  background-position: center;
}

footer {
  @include centered-content;

  padding: 40px 0;
  border-top: 1px solid $line-light;
  text-align: center;
  font-size: 18px;
  line-height: 26px;

  .copyright { margin: 14px 0 10px; font-size: 14px; line-height: 22px; }

  a.top { @include icon($fa-var-arrow-circle-o-up); color: $text-light; }
  a.top:hover,
  a.top:focus { color: $text; }
}

article {
  padding: 90px 0 40px;
  position: relative;

  h1 { @include centered-content; @include heading1; padding-bottom: 40px; margin-bottom: 40px; border-bottom: 1px solid $line; position: relative; }
  h1:after { content: ""; display: block; border-bottom: 1px solid $line; position: absolute; height: 1px; bottom: -3px; left: 0px; right: 0px;  }
  h2 { @include centered-content; @include heading1; margin-bottom: 28px; }
  section { @include centered-content; }

  + article { border-top: 2px solid $line-light; }
  + article:before { content: "●"; position: absolute; top: -9px; left: 50%; color: $line; z-index: 1; background: $background; padding: 0 6px; margin-left: -7px; font-size: 14px; }
}

form {
  @include centered-content;

  textarea,
  input[type="email"] { border: 1px solid $text; padding: 11px; width: 678px; }
  textarea { resize: none; }
  .field_with_errors textarea,
  .field_with_errors input[type="email"] { border-color: $error; }
  .error { color: $error; }
  .input { margin-bottom: 20px; }
  label { display: block; padding: 15px 0; }
  input[type="submit"] { @include transition(all 0.2s); border: 1px solid $text; background: asset-url('button.png') center; height: 46px; color: $text; font-size: 14px; padding: 0 30px; cursor: pointer; }
  input[type="submit"]:hover,
  input[type="submit"]:focus { color: $dark; border-color: $dark; }
  input[type="submit"]:active { @include transform(translateY(2px)); }
}

.content {
  @include centered-content;
  @include heading3;

  strong { font-weight: bold; }
  em { font-style: italic; }
}

#when {
   @include heading3;

   text-align: center;

   h2 { @include heading2; }

   .hasCountdown { margin: 40px auto 0; }
   .hasCountdown .countdown_section { @include inline-block; position: relative; }
   .hasCountdown .countdown_section + .countdown_section { margin-left: 40px; }
   .hasCountdown .countdown_section + .countdown_section .countdown_amount:before { content: ':'; position: absolute; left: -30px; color: $text-light; }
   .hasCountdown .countdown_amount { font-size: 120px; }

   section + section { margin-top: 33px; padding: 33px 0 10px; border-top: 1px solid $line; }

   .entrance { @include icon($fa-var-smile-o); }
   .facebook { @include icon($fa-var-facebook-square); margin-left: 18px; }
   .facebook:hover,
   .facebook:focus { color: $dark; }
   .facebook:active { color: $text-light; }
}

#venue, #after-party {
  h2 { margin-bottom: 50px; }
  section { @include heading3; text-align: center; margin-top: 30px; }
}

#schedule {
  ol li { position: relative; min-height: 82px; padding-left: 270px; }
  ol li + li { border-top: 1px solid $line; padding-top: 15px; margin-top: 30px; }
  ol li time { @include icon($fa-var-clock-o); font-size: 70px; font-weight: bold; position: absolute; left: 0px; }
  ol li time:before { margin: -10px 8px 0 0; color: $line-light; }
  ol li strong { @include heading2; font-weight: bold; display: block; margin-top: 8px; }
  ol li .speaker { @include heading3; @include no-link-underline; }
  ol li .links { display: block; @include heading3; }
  ol li .links a span { margin: 0 20px 0 10px; border-bottom: 1px dotted $line; }
  ol li .links a:focus span,
  ol li .links a:hover span { border-style: solid; }
  ol li .links a:active span { color: $dark; border-color: $dark }
  ol li .links .video { @include icon($fa-var-video-camera); }
  ol li .links .slides { @include icon($fa-var-laptop); }
}

#speakers {
  .avatar { @include image-link; float: left; margin-right: 25px; }
  .avatar img { @include border-radius(100%); }

  h3 { @include heading2; font-weight: bold; float: left; padding: 22px 0; }
  h3 a { @include no-link-underline; }

  .content { clear: both; padding: 24px 0; }

  section { padding-top: 20px; }
}

#more {
  @include heading3;

  padding: 22px 0 28px;

  &:before { top: -17px !important; }

  .contact { @include inline-block; width: 50%; margin-right: 40px; }
  .contact strong { display: block; margin-bottom: 5px; }

  .conferences { @include inline-block; width: 300px; }

  .social { margin-top: 8px; }
  .social a { @include transition(color 0.5s); }
  .social a:hover,
  .social a:active { color: $dark; }

  .facebook { @include icon($fa-var-facebook-square); }
  .youtube { @include icon($fa-var-youtube-square); }
  .twitter { @include icon($fa-var-twitter-square); }
}

#archive {
  &:before { top: -9px !important; }

  ul { @include centered-content; @include heading3; }
  ul li { @include clearfix; }
  ul li .logo { @include image-link; float: left; margin-right: 20px; }
  ul li + li { margin-top: 40px; }
}

#conferences {
  ul { @include centered-content; @include heading3; }
  ul li h3 { @include heading2; }
  ul li + li { margin-top: 40px; }
  ul li .arrow { @include icon($fa-var-arrow-circle-o-right); margin-right: 5px; }
}
