@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

$text: #484848;
$text-light: #969696;
$line: $text-light;
$line-light: #b6b6b6;

body {
  font-family: "Roboto Condensed", tahoma, verdana, arial, sans-serif;;
  font-size: 12px;
  color: $text;
}

a { color: $text; text-decoration: none; border-bottom: 1px dotted #999; }
a:focus,
a:hover { border-bottom-color: $text; }
a:active { color: #999; }

@mixin hidden-link {
  border-bottom: none;
  &:hover { border-bottom:  1px dotted #999; }
}

header { display: none; }

.page {

  article { padding: 60px 0; }
  article h1 { margin: 0 auto; width: 700px; font-size: 50px; padding-bottom: 44px; margin-bottom: 40px; border-bottom: 1px solid $line; position: relative; }
  article h1:after { content: ""; display: block; border-bottom: 1px solid $line; position: absolute; height: 1px; bottom: -3px; left: 0px; right: 0px;  }
  article section {  margin: 0 auto; width: 700px; }
  article + article { border-top: 1px solid $line-light; }
}

#coverart { display: none; }

#streaming { display: none; }

#when {

   text-align: center;

   h2 { font-size: 34px; }

   .hasCountdown { margin: 60px auto 0; width: 640px; text-align: center; }
   .hasCountdown .countdown_section { @include inline-block; position: relative; }
   .hasCountdown .countdown_section + .countdown_section { margin-left: 40px; }
   .hasCountdown .countdown_section + .countdown_section .countdown_amount:before { content: ':'; position: absolute; left: -30px; color: $text-light; }
   .hasCountdown .countdown_amount { font-size: 90px; }

   .entrance { margin-top: 44px; padding: 33px 0 10px; border-top: 1px solid $line; }
}

#venue, #after-party {
  section { text-align: center; font-size: 22px; margin-top: 30px; }
  section a { @include hidden-link; }
  section address { margin-top: 5px; }
}

#schedule {
  ol li { position: relative; min-height: 70px; padding-left: 270px; }
  ol li + li { border-top: 1px solid $line; padding-top: 30px; margin-top: 30px; }
  ol li time { font-size: 70px; font-weight: bold; position: absolute; left: 0px; }
  ol li strong { font-size: 34px; font-weight: bold; display: block; margin-bottom: 15px; }
  ol li .speaker { font-size: 22px; @include hidden-link; }
  ol li .links { display: block; margin-top: 15px; }
  ol li .links a + a { margin-left: 5px; }
}

#speakers {
  .avatar { border-bottom: none; float: left; margin-right: 25px; }
  .avatar:hover { @include opacity(0.8); }
  .avatar img { @include border-radius(100%); }

  h2 { font-size: 34px; font-weight: bold; }
  h2 a { @include hidden-link; }

  h2 { float: left; padding: 22px 0; }

  p { clear: both; font-size: 22px; padding: 15px 0; }
}

#subscribe { display: none; }

#feedback { display: none; }

footer { display: none; }
