@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

$highlight: #6785B8;
$header: #262626;
$text-color: #1e1e1e;
$contrast: #ffffff;
$link: #000000;
$line: $highlight;
$error: #b94a48;

$min-width: 300px;
$mid-width: 600px;
$max-width: 900px;

body {
  font-family: "Lucida Grande", tahoma, verdana, arial, sans-serif;;
  font-size: 12pt;
  color: $text-color;
}

a { color: $link; text-decoration: none; }


header { display: none; }

#coverart { display: none; }

#streaming { display: none; }

#when {

}

#venue { display: none; }

#schedule { display: none; }

#speakers { display: none; }

#after-party { display: none; }

#subscribe { display: none; }

#feedback { display: none; }

footer { display: none; }
