@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "application/fontello";

$color-a: #4f51a4;
$color-a-invert: #FFF;
$color-b: #DAD6CA;
$color-c: #1BB0CE;


@mixin centered-content($width: 960px) {
  width: $width;
  margin: 0 auto;
}

@mixin icon($margin-right: 0) {
  @include opacity(0.5);
  @include transition(all 0.2s);

  text-decoration: none;

  &:hover { @include opacity(1); }
  i { margin-right: $margin-right; font-size: 16px; color: darken($color-b, 10%); }
}

body {
  font-family: 'Open Sans';
  font-size: 14px;
  background: #fff;
}

a { color: inherit; }

header, footer {
  font-family: Arial;
  background-color: $color-a;
  color: #ffffff;
}

header {
  @include box-shadow(0 1px 10px #000);
  @include transition(margin-top 0.2s);

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  margin-top: 0px;
  padding-top: 10px;
  z-index: 1;
  text-align: center;

  &.hide-nav { margin-top: -50px; }

  h1 { @include opacity(0.2); @include transition(opacity 0.2s); float: left; margin-left: 12px; font-size: 2em; font-weight: bold; }
  h1:hover { @include opacity(1); @include text-shadow(2px 2px #000); }

  a { @include inline-block; @include transition(all 0.2s); text-decoration: none; }

  .main { font-size: 18px; }
  .main a { @include border-radius(10px 10px 0 0); padding: 10px 12px; }
  .main a.selected { color: $color-a; background-color: lighten($color-b, 10%); }
  .main a + a { margin-left: 15px; }
  .main a:hover { background-color: lighten($color-a, 10%); }
  .main a.selected:hover { background-color: lighten($color-b, 10%); }

  .sub { font-size: 14px; font-weight: bold; }
  .sub { background-color: lighten($color-b, 10%); }
  .sub a { @include border-radius(6px); padding: 6px; margin: 6px 0; color: lighten(#000000, 50%); }
  .sub a + a { margin-left: 6px; }
  .sub a.active,
  .sub a:hover { color: #000000; background: lighten($color-b, 30%); }
}

footer {
  border-top: solid 10px $color-b;
  margin-top: 30px;
  padding: 20px;
  font-size: 13px;
  line-height: 16px;
  text-align: center;

  > div  { @include clearfix; @include centered-content; }

  p { width: 25%; float: left; }

  strong { display: block; }

  a { @include transition(all 0.2s); @include inline-block; @include border-radius(4px); padding: 2px 4px; margin-top: 4px; text-decoration: none; background: lighten($color-a, 5%); font-size: 11px; line-height: 13px; font-weight: bold; }
  a:hover { background: lighten($color-a, 20%); }
  a + a { margin-left: 5px; }
}

article {
  @include centered-content(600px);
  @include clearfix;

  padding: 70px 10px 0;

  h1 { @include text-shadow(3px 3px $color-b); margin-bottom: 20px; font-size: 36px; font-weight: bold; color: $color-a; text-align: center; text-transform: uppercase; }

  h1:after,
  h1:before { @include inline-block; width: 140px; height: 3px; margin: 0 20px 8px; content: " "; background-color: $color-b; }

  a { @include transition(color opacity 0.2s); color: darken($color-a, 100%); }
  a:hover { color: $color-a; text-decoration: none; }
}

#coverart {
  position: relative;
  height: 325px;
  margin-top: 85px;
  background-size: cover;

  img { width: 200px; height: 200px; position: absolute; left: 50%; top: 50%; margin: -100px 0 0 -100px; }
}

#when {
  .date { float: left; width: 200px; text-align: center; }
  .timer { float: right; width: 300px; text-align: right; }

  .countdown_section { @include inline-block; margin-left: 12px; text-align: center; }
  .countdown_section .countdown_amount { @include inline-block; @include border-radius(6px); margin-bottom: 5px; padding: 2px 6px; font-size: 36px; line-height: 38px; background: $color-a; color: $color-a-invert; }

  strong { display: block; font-size: 24px; line-height: 28px; }

  .facebook-event { @include inline-block; @include border-radius(2px); @include transition(all 0.2s); width: 130px; margin-top: 18px; padding-right: 10px; font-size: 14px; line-height: 16px; background: image-url("facebook.png") no-repeat 0 0px; text-align: right; }
  .facebook-event:hover { background-color: #2d4387; color: #fff; text-decoration: none; }
}

.venue {
  @include centered-content;
  text-align: center;

  address { font-size: 24px; line-height: 26px; }
  address + address { font-size: 20px; line-height: 22px; font-style: italic; }
  address + iframe { margin-top: 20px; }
}

#schedule {
  li { @include clearfix; padding-top: 12px; font-size: 20px; line-height: 22px; }
  li + li time { border-top: dotted 2px $color-b; }

  time { float: left; width: 96px; height: 97px; padding: 6px 12px 6px 12px; margin-top: -12px; margin-right: 20px; border-right: solid 7px $color-b; text-align: center; font-size: 30px; line-height: 32px; }

  .talk-link { @include icon(5px); font-size: 13px; }
}

#speakers {
  section { @include clearfix; margin: 30px 0 0 0; padding: 20px 0 0 0; }
  section + section { border-top: dotted 2px $color-b; }

  .avatar { @include box-sizing(border-box); float: left; width: 20%; text-align: center; }
  .avatar img { display: block; width: 80px; height: 80px; border-radius: 40px; margin: 0 auto 10px auto; }
  .avatar .icon { @include icon }

  .speaker { @include box-sizing(border-box); float: left; width: 80%; padding: 0 0 0 20px; }
  .speaker h3 { font-size: 23px; text-align: left; }
  .speaker h3 a { text-decoration: none; }
  .speaker h3 small { font-size: 14px; }
  .speaker h3 small:before { content: " / "; }
  .speaker p { margin: 10px 0; line-height: 24px; }
  .speaker p a { text-decoration: none; }
}

#subscribe, #feedback {
  @include centered-content(800px);
  text-align: center;


  form { @include clearfix; margin-top: 20px; }

  form label { display: block; margin-bottom: 10px }
  form label abbr { display: none; }

  form .input { margin-bottom: 10px; }

  form .input input,
  form .input textarea { @include border-radius(2px); padding: 7px 10px; width: 700px; border: 3px solid $color-b; font-size: 16px; }
  form .input textarea { height: 100px; }

  form .input input:focus,
  form .input textarea:focus { border-color: $color-a; outline: none; }

  form .btn { @include border-radius(8px); @include transition(all 0.2s); background: $color-a; border: solid 3px $color-b; padding: 8px 10px 8px 10px; color: #ffffff; font-size: 16px; font-weight: bold; }
  form .btn:hover,
  form .btn:focus { background: $color-b; text-decoration: none; outline: none; }
  form .btn:active { color: $color-a; text-decoration: none; }

  form .error { @include inline-block; @include border-radius(6px); width: 700px; padding: 10px 13px; margin: 17px 0 10px 0; color: #F00; background: $color-b; font-weight: bold; }
  form .error:before { margin: -19px 0 0 0; display: block; content: ""; width: 0; height: 0; position: absolute; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid $color-b; }
}

