@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

$color-a: #4f51a4;
$color-a-invert: #FFF;
$color-b: #DAD6CA;
$color-c: #1BB0CE;
$sectionTextColor: #000;


$headerAndFooterFont: Arial;

$headerTextColor: #FFF;

$color-a: #4f51a4;
$headerBackground: $color-a;

@mixin centered-content {
  max-width: 960px;
  margin: 0 auto;
}

body {
  font-family: 'Open Sans';
  font-size: 14px;
  background: #fff;
}

.page {
  @include centered-content;

  a {
    color: darken($color-a, 100%);
    &:hover { color: $color-a; }
  }
}

article + article { padding-top: 70px; }
article {
  @include clearfix;
  padding: 0 10px;
  margin: 0 auto;
  width: 600px;

  h1 { @include text-shadow(3px 3px $color-b); margin-bottom: 20px; font-size: 36px; font-weight: bold; color: $color-a; text-align: center; text-transform: uppercase; }
  h1:after { display: inline-block; margin: 0 0 8px 20px; height: 3px; content: " "; text-shadow: none; background-color: $color-b; width: 140px; @media all and (max-width: 450px) { width: 20px; }; }
  h1:before { display: inline-block; margin: 0 20px 8px 0; height: 3px; content: " "; text-shadow: none; background-color: $color-b; width: 140px; @media all and (max-width: 450px) { width: 20px; }; }
}

#when {
  .date { float: left; width: 200px; text-align: center; }
  .timer { float: right; width: 300px; text-align: right; }

  .countdown_section { @include inline-block; margin-left: 12px; text-align: center; }
  .countdown_section .countdown_amount { @include inline-block; @include border-radius(6px); margin-bottom: 5px; padding: 2px 6px; font-size: 36px; line-height: 38px; background: $color-a; color: $color-a-invert; }

  strong { display: block; font-size: 24px; line-height: 28px; }

  .facebook-event { @include inline-block; width: 130px; margin-top: 18px; padding-right: 3px; font-size: 14px; line-height: 16px; background: image-url("facebook.jpg") no-repeat 0 0px; text-align: right; }
  .facebook-event:hover { background-color: #2d4387; color: #fff; text-decoration: none; }
}

.venue {
  width: 100%;
  text-align: center;

  address { font-size: 24px; line-height: 26px; }
  address + address { font-size: 20px; line-height: 22px; font-style: italic; }
  address + iframe { margin-top: 20px; }
}

#schedule {
  li { @include clearfix; padding-top: 12px; font-size: 20px; line-height: 22px; }
  li + li time { border-top: dotted 2px $color-b; }

  time { float: left; width: 96px; height: 97px; padding: 6px 12px 6px 12px; margin-top: -12px; margin-right: 20px; border-right: solid 7px $color-b; text-align: center; font-size: 30px; line-height: 32px; }

  // TODO
  .talk-link {
    //.tween();
    text-decoration: none;
    font-size: 13px;
    @include opacity(0.5);
    &:hover {
      @include opacity(1);
    }
    i {
      font-size: 15px;
      color: darken($color-b, 10%);
    }
  }
}

#speakers {
  width: 600px; margin: 0 auto;

  section {
    margin: 30px 0 0 0;
    padding: 20px 0 0 0;
    @include clearfix;
    .avatar {
      float: left;
      width: 20%;
      text-align: center;
      @include box-sizing(border-box);
      img {
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 40px;
        margin: 0 auto 10px auto;
      }
      @media all and (max-width: 660px) {
        display: none;
      }
    }
    .speaker {
      float: left;
      width: 80%;
      padding: 0 0 0 20px;
      @include box-sizing(border-box);
      h3 {
        font-size: 23px;
        text-align: left;
        a { text-decoration: none; }
        small { font-size: 14px; }
        small:before { content: " / "; }
      }
      p {
        margin: 10px 0;
        line-height: 24px;
      }
      @media all and (max-width: 660px) {
        width: 100%;
      }
    }

    & + section { border-top: dotted 2px $color-b; }
  }
}


header {
  @include box-shadow(0 1px 10px #000);

  font-family: $headerAndFooterFont;
  background-color: $headerBackground;
  padding: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: solid 1px lighten($headerBackground, 20%);

  @media all and (max-width: 450px) {
    padding: 0;
    position: relative;
    margin: -10px 0 0 0;
  }

  a {
    // .tween();
    color: $headerTextColor;
    text-decoration: none;
  }

  h1 {
    @include opacity(0.2);

    font-size: 2em;
    // .tween();
    margin: 0;
    padding: 10px 0 0 10px;
    color: $headerTextColor;
    float: left;
    font-weight: bold;
    display: block;

    &:hover {
      @include opacity(1);
      text-shadow: 2px 2px #000;
    }

    @media all and (max-width: 750px) {
      display: none;
    }
  }

  .main {
    width: 800px;
    margin: 10px auto 0;
    // .tween-short();
    height: 38px;
    overflow: hidden;
    text-align: center;

    @media all and (max-width: 480px) {;
      float: none;
    }

    a {
      margin: 0 15px 0 0;
      display: inline-block;
      padding: 10px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      font-size: 18px;

      &:hover {;
        background-color: lighten($headerBackground, 10%);
      }

      @media all and (max-width: 600px) {;
        font-size: 14px;
        margin: 0 2px 0 0;
      }

      @media all and (max-width: 450px) {;
        font-size: 12px;
        padding: 2px 4px;
      }

      @media all and (max-width: 405px) {;
        display: block;
        padding: 6px;
        font-size: 16px;
      }
    }

    a.selected {
      position: relative;
      color: $color-a;
      background-color: lighten($color-b, 10%);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  .sub {
    // .tween();
    background-color: lighten($color-b, 10%);
    border-radius: 2px;
    margin: 0;
    text-align: center;
    @media all and (max-width: 750px) {;
      text-align: left;
    }
    @media all and (max-width: 450px) {;
      display: none;
    }
    a {
      // .tween();
      display: inline-block;
      padding: 8px 6px 6px 6px;
      text-align: left;
      color: lighten($sectionTextColor, 50%);
      font-size: 14px;
      font-weight: bold;
      &:hover {;
        color: $sectionTextColor;
        background: lighten($color-b, 30%);
      }
    }
  }
}

#coverart {
  display: none;
  position: relative;

  img {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
  }
  @media all and (min-width: 520px) {
    padding: 75px 0 0 0;
    display: block;
    width: 100%;
    height: 250px;
    background-size: cover;
  }
}

.icon {
  // .tween();
  text-decoration: none;
  @include opacity(0.25);
  &:hover { @include opacity(1); }
  i { font-size: 16px; }
}

footer {
  > div  {
    @include clearfix;
    max-width: 960px;
    margin: 0 auto;
  }
  font-family: $headerAndFooterFont;
  background-color: $headerBackground;
  border-top: solid 10px $color-b;
  margin: 30px 0 0 0;
  clear: both;
  color: $headerTextColor;
  padding: 20px 0 20px 0;
  p {
    width: 25%;
    float: left;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    @include box-sizing(border-box);
    margin: 0;
    padding: 0;
    @media all and (max-width: 400px) {
      float: none;
      width: auto;
    }
  }

  strong { display: block; }

  a {
    // .tween();
    display: inline-block;
    color: $headerTextColor;
    text-decoration: none;
    background: lighten($headerBackground, 5%);
    padding: 2px 4px;
    margin: 3px 0 0 0;
    border-radius: 4px;
    font-size: 11px;
    font-weight: bold;
    &:hover { background: lighten($headerBackground, 20%); }
  }

  a + a { margin-left: 5px; }
}



#subscribe, #feedback {
  p {
    float: left;
    width: 35%;
    @include box-sizing(border-box);
    font-size: 18px;
    @media all and (max-width: 690px) {
      width: auto;
      float: none;
    }
  }

  form {
    width: 65%;
    float: left;
    padding: 0 0 0 30px;
    @include box-sizing(border-box);

    @media all and (max-width: 690px) {
      width: auto;
      float: none;
      padding: 0;
    }

  .error {
    display: block;
    color: #F00;
    font-weight: bold;
    background: $color-b;
    padding: 10px;
    border-radius: 6px;
    margin: 17px 0 10px 0;
    width: 100%;
    @include box-sizing(border-box);

    .arrow {
        margin: -19px 0 0 0;
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $color-b;
        position: absolute;
      }
    }
  }

  input[type="email"], textarea {
    border: solid 2px lighten($color-a, 30%);
    padding: 4px;
    font-family: 'Open Sans';
    border-radius: 2px;
    display: block;
    width: 100%;
    margin: 10px auto 10px auto;
    @include box-sizing(border-box);
    @media all and (max-width: 690px) {
      width: 90%;
      margin: 10px 0 10px 0;
    }
  }

  textarea { height: 140px; }

  input[type="submit"] {
    @include box-sizing(border-box);
    background: $color-a;
    border: solid 3px $color-b;
    padding: 8px 10px 8px 10px;
    border-radius: 8px;
    color: $headerTextColor;
    font-size: 16px;
    font-weight: bold;
  }
}


