@import "compass/reset";
@import "bootstrap";

body { padding-top: 60px; text-align: center; }

.simple_form {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  max-width: 250px;
  margin: 0 auto 20px;
  text-align: left;

  input.string,
  input.password { width: 200px; }

  .alert { margin: 20px 20px; }

  h1 { margin: 10px 20px 20px; border-bottom: 1px solid #e5e5e5; padding-bottom: 20px;  }
  .input { margin: 0 20px; }
  .form-actions { margin-bottom: 0px; }

  .field_with_errors { color: #b94a48 }
  .field_with_errors input { border-color: #b94a48 }
  .field_with_errors + .input { margin-top: 10px; }
}

