.lightbox-parent {
  overflow: hidden !important;
  position: fixed;
}

.lightbox {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow-y: scroll;
  background: #0d0d0d;

  .lb-container {
    position: absolute;
    top: 15%;
    left: 5%;
    bottom: 15%;
    right: 5%;
    text-align: center;
  }

  .lb-container img { max-width: 100%; max-height: 100%; }

  .lb-cloak {
    @include border-radius(5px);
    position: absolute;
    background: #e6e6e6 asset-url('loading.gif') center no-repeat;
  }

  .lb-button {
    @include user-select(none);
    @include transition(all 0.3s);
    @include border-radius(50%);
    @include inline-block;
    border: none;
    outline: none;
    background: #e6e6e6;
    width: 40px;
    padding: 10px 0 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
  }

  .lb-button:hover,
  .lb-button:focus { background: #aaaaaa; }
  .lb-button:active { background: #666666; color: #e6e6e6; }

  .lb-button.lb-close { position: absolute; right: 2%; top: 2%; }

  .lb-controls { position: absolute; right: 4%; bottom: 4%; left: 4%; }
  .lb-controls .lb-button { padding: 7px 0 13px; }
  .lb-controls .lb-button.lb-previous { float: left; }
  .lb-controls .lb-button.lb-next { float: right; }
}

