@mixin heading1 { font-size: 50px; line-height: 50px; }
@mixin heading2 { font-size: 34px; line-height: 40px; font-weight: bold; }
@mixin heading3 { font-size: 22px; line-height: 30px; }

@mixin no-link-underline {
  &,
  &:hover,
  &:active,
  &:focus { border-bottom: none !important; }
}

@mixin image-link {
  @include no-link-underline;

  &:hover,
  &:focus { @include opacity(0.8); }
  &:active { @include transform(scale3d(0.9, 0.9, 0)); }
}

@mixin centered-content {
  margin: 0 auto;
  width: 700px;
}

@mixin icon($text) {
  @include no-link-underline;

  &:before {
    @include inline-block;
    content: $text;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
